#OS_FILE

*.DS_Store
*.DS_Store?
_*
Etat_de_l_art/Etat_art_Latex.tex
*.tex
*.log
*.aux
*.synctex.gz
*.pyc
nohup.out
#Jeux de données
GLC_19/examples/ex_csv*/
data
*tableau_numpy_examplecsv
GLC2018_Team
*ex_csv
#images

Etat_de_l_art/figure
lecture
GLC_19
rapport_final/images